@keyframes sideToSide {
  0%,
  100% {
    left: 0;
  }

  50% {
    left: 100%;
  }
}

.diamondContainer {
  border-style: solid;
  display: inline-block;
  position: relative;
  animation: sideToSide 5s infinite;
}
